$white: #FFFFFF;
$primary-Yellow-50: #FEFAF3;
$primary-Yellow-100: #FDF0DB;
$primary-Yellow-500: #F6C878;
$primary-Yellow-400: #F8D393;
$primary-Yellow-600: #F3B64C;
$primary-Yellow-700: #F1AC34;
$primary-Yellow-800: #E3960F;
$true-grey-900: #171717;
$true-grey-300: #D4D4D4;
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-90: rgba(0, 0, 0, 0.9);
$red-error: #D94F14;
